h2#contents contents
ul    
    li
        h3 preface
        ul
            li 
                a(href="#introduction") preface <span>preface</span>
        h3 principles
        ul
            li 
                a(href="#principles") principles of flow <span>short list of principles</span>
            li 
                a(href="#tasks") tasks <span>tasks in flow</span>
            li 
                a(href="#ingredients") ingredients <span>use of ingredients in flow</span>                
                
        h3 region
        ul
            li 
                a(href="#region") the region <span>boundries of a recipe</span>
        h3 symbols
        ul
            li 
                a(href="#symbols") symbols <span>symbols used by flow</span>
            li 
                a(href="#task") task <span></span>
            li 
                a(href="#input") input <span></span> 
            li 
                a(href="#flow") flow <span></span>                 
            li 
                a(href="#start") start <span></span>                 
            li 
                a(href="#end") end <span></span>                 
            li 
                a(href="#continuation") continuation <span></span>                 
            li 
                a(href="#comment") comment <span></span>                 
            li 
                a(href="#decision") decision <span></span>
            li 
                a(href="#fork") fork <span></span>
            li 
                a(href="#includes") includes <span></span>
            li 
                a(href="#time") time <span></span>                
                
        h3 card
        ul
            li 
                a(href="#card") flow card <span>a physical card used by flow</span>