h2#copyright copyright

img(src="http://mirrors.creativecommons.org/presskit/icons/cc.svg")
img(src="http://mirrors.creativecommons.org/presskit/icons/by.svg")

p This work is licensed under the Creative Commons Attribution 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/.