h1 preface

article
    h2#introduction preface
    include:md articles/introduction.md


h1 principles

article
    h2#principles principles
    include:md articles/principles.md
    
h1 region
    
article
    h2#region region
    include:md articles/region.md 
    
h1 symbols
    
article
    h2#symbols symbols
    include:md articles/symbols.md 
    
h1 card

article
    h2#card card
    include:md articles/card.md 